<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/823694/pexels-photo-823694.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container text-center">
    <h1>Bienvenue!</h1>
    <p>Chercher, parmis nos artisants celui qu'ils vous faut.</p>
    <%= link_to 'Entrer', flats_path, class: "btn btn-principal" %>
  </div>
</div>
