.navbar-lewagon {
  box-shadow:      1px 1px 3px rgba(0,0,0,0.2);
  justify-content: space-between;
  background:      white;
  position:        sticky;
  top:             0px;
  z-index:         100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

